*selectToClipboard: true

xterm*font: -Misc-Fixed-Medium-R-Normal--20-200-75-75-C-100-ISO10646-1
xterm*foreground: grey
xterm*background: black
XTerm*metaSendsEscape: true
! xscreensaver
xscreensaver.fade:        false
xscreensaver.unfade:      falseXcursor.theme: Breeze-2~Lightd
